<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505937154915-fqgk3gcqhrfp7hhvd58uk1k5ru94b0oo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505937154915-fqgk3gcqhrfp7hhvd58uk1k5ru94b0oo</string>
	<key>API_KEY</key>
	<string>AIzaSyCo_O7CgHOcIf46x-NfaoyQVI_wEh9Gg5k</string>
	<key>GCM_SENDER_ID</key>
	<string>505937154915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KhanhVu.KidsReco.KidsReco</string>
	<key>PROJECT_ID</key>
	<string>recognizer-for-kids</string>
	<key>STORAGE_BUCKET</key>
	<string>recognizer-for-kids.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505937154915:ios:d82e40176db0e0c621b956</string>
</dict>
</plist>